@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
body{
  margin: 0px;
  padding: 0px;
  background: #F5F5F5;
}

.text-blue{
  color: #00486E;
}

.bg-blue{
  background:#00486E;
}

.header-btn{
  background-color: #00486E;
  color: white;
  margin: 10px 0px;
  padding: 0px 30px;
  width: 218px;
}

.check-card{
  width: 636px;
  height: 555px;
  border-radius: 0px 60px 0px 60px;
  border: 2px solid #00486E;
  padding: 40px 18px 40px 30px;
  background-color: #FFFFFF;
}

.card-check-head{
  font-size: 36px;
  color: #00486E;
  font-weight: 600;
}

.card-btn{
  background-color: #00486E;
  color: white;
  margin: 10px 0px;
  padding: 16px 30px;
  width: 272px;
  font-weight:600;
}

.check-text-conatiner div{
  margin:20px 0px;
}

.check-text-conatiner img{
width: 20px;
height: 20px;
}
.check-text-conatiner span{
font-size: 18px;
padding-left: 5px;
}

.card-p{
font-size: 22px;
color: #111827;
}

.home-section2{
  padding: 40px 35px;
  background-color: #FFFFFF;
  margin-top: 30px;
}

.home-section2 h3{
  font-size: 22px;
  font-weight: bold;
}

.home-section2 p{
  font-size: 22px;
  margin-top: 20px;
}

.small-card{
  width: 295px;
  height: 263px;
  border-radius: 0px 60px 0px 60px;
  padding:10px 20px;
}

.border-blue{
  border:1.5px solid #00486E;
}

.small-card span{
  width: 180px;
  font-size: 30px !important;
  font-weight: bold;
  line-height: 35px;
}

.padding-right{
  padding-right: 70px;
}

#section4{
margin-top: 120px;
margin-bottom: 80px;
padding: 100px 80px;
}

#section4 p{
  font-size: 22px;
  width: 857px;
  margin: auto;
  text-align: center;
}

.logo-text{
  font-size: 40px;
  color:#FFFFFF;
  font-weight: 600;
}

#footer{
  background: #182B35;
  /* height: 409px; */
}