@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
body{
  margin: 0px;
  padding: 0px;
  background: #F5F5F5;
}

.text-blue{
  color: #00486E !important;
}

.bg-blue{
  background:#00486E;
}

.home-card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  gap:20px;
  margin-top: 30px;
}

.product p{
  font-size: 22px;
  margin-top: 30px;
}

.product-card-container{
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 30px 0px;
}

.product-card{
  border: 1.5px solid #00486E;
  border-radius: 10px;
  width: 636px;
  height: 368px;
  padding: 30px;
  background: #FFFFFF;
}
.product-card h3{
  font-size: 32px;
  font-weight: bold;
}
.product-check-box{
  margin: 20px 0px;
}

.product-check-box div{
  margin:40px 0px;
}

.product-check-box img{
width: 28px;
height: 28px;
}
.product-check-box span{
font-size: 22px;
padding-left: 5px;
vertical-align: middle;
}

.product-amount{
  display: flex;
  justify-content: space-between;
}

.product-amount span{
  font-size: 32px;
}
.product-amount img{
  width: 35px;
  height: 30px;
  /* background-color: #00486E; */
}

#img-icon{
  width: 78px;
  height: 78px;
  background-color: #00486E;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-btn{
  background-color: #00486E;
  color: white;
  margin: 10px 0px;
  padding: 0px 30px;
  width: 218px;
}

.check-card{
  width: 636px;
  height: 555px;
  border-radius: 0px 60px 0px 60px;
  border: 2px solid #00486E;
  padding: 40px 18px 40px 30px;
  background-color: #FFFFFF;
}

.card-check-head{
  font-size: 36px;
  color: #00486E;
  font-weight: 600;
}

.card-btn{
  background-color: #00486E;
  color: white;
  margin: 8px 0px;
  padding: 16px 30px;
  /* width: 272px; */
  font-weight:600;
}

.check-text-conatiner div{
  margin:20px 0px;
}

.check-text-conatiner img{
width: 20px;
height: 20px;
}
.check-text-conatiner span{
font-size: 18px;
padding-left: 5px;
}

.card-p{
font-size: 22px;
color: #111827;
}

.home-section2{
  padding: 40px 35px;
  background-color: #FFFFFF;
  margin-top: 30px;
}

.home-section2 h3{
  font-size: 22px;
  font-weight: bold;
}

.home-section2 p{
  font-size: 22px;
  margin-top: 20px;
}

.small-card{
  width: 295px;
  height: 263px;
  border-radius: 0px 60px 0px 60px;
  padding:10px 20px;
}

.border-blue{
  border:1.5px solid #00486E;
}

.small-card span{
  width: 180px;
  font-size: 30px !important;
  font-weight: bold;
  line-height: 35px;
}

.padding-right{
  padding-right: 70px;
}

#section4{
margin-top: 120px;
margin-bottom: 80px;
padding: 100px 80px;
}

#section4 p{
  font-size: 22px;
  width: 857px;
  margin: auto;
  text-align: center;
}

.logo-text{
  font-size: 40px;
  color:#FFFFFF;
  font-weight: 600;
}

#footer{
  background: #182B35;
  /* height: 409px; */
}

.search-card{
  border:2px solid #00486E;
  margin: 40px 0px;
  padding:100px 60px;
  border-radius: 0px 60px 0px 60px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-direction: column;
}

.search-card h1{
  font-size: 46px;
  color: #00486E;
}

.search-card p{
  font-size: 32px;
  width: 75%;
}

.search-disclamer{
  color:#90949B;
  font-size: 18px;
  margin: 20px 10px;
  margin-bottom: 180px;
}

#search-results{
margin-bottom: 130px;
}

.search-result{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
  margin: 10px 65px;
  padding:15px 20px;
  border-radius: 10px;
}

#faq{
  margin-bottom: 150px;
}

.faq-head{
   text-align: center;
  background-color: #FFFFFF;
  padding: 30px;
  margin-top: 2px;
  margin-bottom: 20px;
}

.faq-head h3{
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
  color: #00486E;
}

.faq-head p{
  text-align: center;
  font-size: 18px;
  padding: 0px 180px;
}

.faq-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
  margin: 10px 65px;
  padding:15px 20px;
  border-radius: 15px;
  transition: 0.4s;
  cursor: pointer;
  flex-direction: column;
}
.faq-title{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.panel {

}

.faq-list p{
font-size: 22px;
color:#111827
}

.faq-list-text{
  font-size: 18px !important;
  color: #6B7280;
  margin-top: 30px;
  background-color: white;
  overflow: hidden;
}


.search-result h3{
  font-size: 32;
  font-weight: bold;
  color: #00486E;
  display: inline;
}
.search-result p{
  font-size: 18px;
  color:#90949B;
  margin-top: 15px;
  margin-bottom: 0px;
}
.search-tag{
  font-size: 14px;
  color: #00486E;
  width: 120px;
  height: 32px;
  border:1px solid #108EE3;
  background: #C7E8FE;
  padding:6px 16px;
  border-radius: 10px;
  margin-left: 10px;
}
.product-name{
  background-color: #FFFFFF;
  text-align: center;
  padding: 40px 0px;
}

.product-name h3{
    font-size: 32;
    font-weight: bold;
    color: #00486E;
    display: inline;
}

.product-name p{
  font-size: 18px;
  color:#90949B;
  margin-top: 15px;
  margin-bottom: 0px;
  
}

.product-form{
  border:1px solid #00486E;
  margin: 10px 20px 10px 0px;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 30px;
}

.product-form h3{
  font-size: 24px;
  color: #111827;
  font-weight: bold;
}

.product-form p{
  font-size: 22px;
  color: #111827;
}

form label{
  font-size: 18px;
  color:#111827;
  font-weight: bold;
  margin-bottom: 5px;
}

#product-form input{
  width: 55%;
}


.product-2{
  margin-top:120px !important;
  }

#product-form button{
  padding: 10px 30px;
  background: #00486E;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: bold;
}

form div{
  margin:30px 0px
}


form input{
  font-size: 18px;
  color:#111827;
  padding: 10px;
}

.contact-card-box{
  display: flex;
  justify-content: space-between;
  margin: 30px 0px;
  gap:10px
}

.contact-card{
  border:1px solid #00486E;
  background: #FFFFFF;
  width: 416px;
  height: 134px;
  border-radius: 0px 60px 0px 60px;
  padding: 20px 10px;
  display: flex;
  align-items:start
}
.contact-card p{
  font-size: 22px;
}

.contact-form-head{
  font-size: 22px;
  color: #111827;
  text-align: center;
  padding: 40px 100px;
}

#contact-form input{
  width: 100%;
  background-color: #FFFFFF;
  border: 1px solid #6B7280;
}
#contact-form{
  padding:20px 100px;
  margin-bottom: 100px;
}

#contact-form button{
  padding: 10px 30px;
  background: #00486E;
  color: #FFFFFF;
  font-size: 24px;
  margin-top:20px;
  font-weight: bold;
}

.rotate-arrow-down{
  transition: 0.4s;
  transform: rotate(90deg);
}

.rotate-arrow-up{
  transition: 0.4s;
  transform: rotate(0deg);
}



@media only screen and (max-width: 1000px) {
  #section4 p {
    font-size: 22px;
    width: auto;
    margin: auto;
    text-align: center;
}
.logo-text {
  font-size: 30px;
  color: #FFFFFF;
  font-weight: 600;
}
.card-check-head{
  font-size: 30px;
  color: #00486E;
  font-weight: 600;
}
.check-text-conatiner span{
  font-size: 16px;
  padding-left: 5px;
  }
  .check-card{
    width: auto;
    height: auto;
    border-radius: 0px 60px 0px 60px;
    border: 2px solid #00486E;
    padding: 30px 10px 30px 10px;
    background-color: #FFFFFF;
  }
  .custom-container{
    margin: 0px;
    padding: 0px 2px;
  }
  .home-section2{
    padding: 30px 15px;
  }
  .padding-right {
    padding-right: 10px;
}
.small-card {
  width: 382px;
  height: 263px;
  border-radius: 0px 60px 0px 60px;
  padding: 10px 20px;
  margin: auto;
}
#section4 {
  margin-top: 120px;
  margin-bottom: 80px;
  padding: 90px 10px;
}

.sm-hide{
  display: none !important;
}

.sm-show{
  display: block !important;
}

.search-card{
  border:2px solid #00486E;
  margin: 40px 0px;
  padding:80px 15px;
  border-radius: 0px 60px 0px 60px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-direction: column;
}

.search-card h1{
  font-size: 30px;
  color: #00486E;
}

.search-card p{
  font-size: 22px;
  width: auto;
}

.search-disclamer{
  color:#90949B;
  font-size: 18px;
  margin: 20px 10px;
  margin-bottom: 180px;
}

#search-results{
margin-bottom: 130px;
}

.search-result{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
  margin: 10px 10px;
  padding:15px 20px;
  border-radius: 10px;
}

.product-card{
  border: 1.5px solid #00486E;
  border-radius: 10px;
  width: 100%;
  margin: 10px;
  height: 277px;
  padding: 30px;
  background: #FFFFFF;
}
.product-2{
margin-top:65px !important;
}
.product-card h3{
  font-size: 22px;
  font-weight: bold;
}
.product-check-box{
  margin: 20px 0px;
}

.product-check-box div{
  margin:20px 0px;
}

#product-form input{
  width: 100%;
}

.product-check-box img{
width: 28px;
height: 28px;
}
.product-check-box span{
font-size: 16px;
padding-left: 5px;
vertical-align: middle;
}

.product-amount{
  display: flex;
  justify-content: space-between;
}

.product-amount span{
  font-size: 32px;
}
.product-amount img{
  width: 35px;
  height: 30px;
  /* background-color: #00486E; */
}
.product-form {
  border: 1px solid #00486E;
  margin: 10px;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 30px 20px;
}


.faq-head{
  text-align: center;
 background-color: #FFFFFF;
 padding: 30px;
 margin-top: 2px;
 margin-bottom: 20px;
}

.faq-head h3{
 text-align: center;
 font-size: 30px;
 margin-bottom: 20px;
 color: #00486E;
}

.faq-head p{
 text-align: center;
 font-size: 18px;
 padding: 0px;
}

.faq-list{
 display: flex;
 justify-content: space-between;
 align-items: center;
 background: #FFFFFF;
 margin: 10px 0px;
 padding:15px 20px;
 border-radius: 15px;
 transition: 0.4s;
 cursor: pointer;
 flex-direction: column;
}
.faq-title{
 display: flex;
 width: 100%;
 justify-content: space-between;
 align-items: center;
}

.contact-card-box{
  justify-content:center;
  flex-wrap: wrap;
  margin: 30px 10px;
  gap:10px
}

.contact-card{
  border:1px solid #00486E;
  background: #FFFFFF;
  width: 416px;
  height: 134px;
  border-radius: 0px 60px 0px 60px;
  padding: 20px 10px;
  display: flex;
  align-items:start
}
.contact-card p{
  font-size: 22px;
}

.contact-form-head{
  font-size: 22px;
  color: #111827;
  text-align: center;
  padding: 10px 58px;
}

#contact-form input{
  width: 100%;
  background-color: #FFFFFF;
  border: 1px solid #6B7280;
}
#contact-form{
  padding:20px 10px;
  margin-bottom: 100px;
}

#contact-form button{
width: 100%;
}

}